<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>index</h1>
    <input type="text" id="content" name="content">
    <input type="submit" id="send" value="save">
    <ul id='list'>
    <%for(item in todoitems){%>
        <li>
            <%- todoitems[item].content %>
            <input data-id="<%- item %>" type="button" value="remove">
        </li>
    <%}%>

    </ul>

    <script src="./js/all.js"></script>
</body>

</html>